html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    background: #eee;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.box {
    box-sizing: border-box;
    padding: 60px 0px;
    text-align: center;
}

.box img {
    width: 1000px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #ccc;
}

.box img:hover {
    border-radius: 20px;
    box-shadow: 0px 0px 10px #000;
}

.btn {
    display: inline-block;
    padding: 5px 10px;
    margin: 0px 25px;
    border-radius: 2px;
    box-shadow: 0px 0px 2px #999;
    background: #81cfa2;
    color: #eee;
    text-align: center;
}

.loading {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #eee;
    text-align: center;
    font-size: 30px;
}

.progress {
    margin:300px auto;
}